// Fonts

@font-face {
  font-family: 'Ambit';
  src: url('../fonts/Ambit-Regular.eot');
  src: url('../fonts/Ambit-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ambit-Regular.woff2') format('woff2'),
      url('../fonts/Ambit-Regular.woff') format('woff'),
      url('../fonts/Ambit-Regular.ttf') format('truetype'),
      url('../fonts/Ambit-Regular.svg#Ambit-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('../fonts/Ambit-Light.eot');
  src: url('../fonts/Ambit-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ambit-Light.woff2') format('woff2'),
      url('../fonts/Ambit-Light.woff') format('woff'),
      url('../fonts/Ambit-Light.ttf') format('truetype'),
      url('../fonts/Ambit-Light.svg#Ambit-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('../fonts/Ambit-Bold.eot');
  src: url('../fonts/Ambit-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ambit-Bold.woff2') format('woff2'),
      url('../fonts/Ambit-Bold.woff') format('woff'),
      url('../fonts/Ambit-Bold.ttf') format('truetype'),
      url('../fonts/Ambit-Bold.svg#Ambit-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambit';
  src: url('../fonts/Ambit-SemiBold.eot');
  src: url('../fonts/Ambit-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ambit-SemiBold.woff2') format('woff2'),
      url('../fonts/Ambit-SemiBold.woff') format('woff'),
      url('../fonts/Ambit-SemiBold.ttf') format('truetype'),
      url('../fonts/Ambit-SemiBold.svg#Ambit-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



// Variables
@import "partials/reset";
@import "partials/variables";

@import "icons";

body {
	background-color: $body-bg;
	color: black;
	font-family: 'Ambit';
  font-weight: 300;
}

hr {
  background-color: black;
  height: 1px;
  border: 0;
}

strong {
  font-weight: 700;
}

$marigin-header: 30px;

.page {
  position: relative;
}

.hide-on-desktop {
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.hide-on-mobile {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

@import "partials/header";
@import "partials/footer";



