/* PORTFOLIO */

@import "common";

.project {
  top: 130px;
}

.project-images {
  margin: 0 auto;
  width: 70%;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
  li {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }

  h2 {
    font-size: 26px;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: capitalize;
    @media only screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-top: 20px;
    }
  }

  .content {
    font-size: 26px;
    margin-bottom: 40px;
    line-height: 24px;
    width: 100%;
    line-height: 36px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 18px;
      line-height: 20px;
    }
  }
}