<!doctype html>
<html class="no-js" lang="it">
    <head>
        {{> head }}
    </head>
    <body>
        <header>
            <div>
                <a href="/">
                    <i class="icon icon-logo logo"></i>
                </a>
            </div>
            <div class="menu">
                <button>
                    <i class="icon icon-hamburger"></i>
                </button>
                {{> menu}}
            </div>
        </header>
        
        <div class="left-text">
            Branding / Graphic design
        </div>

        <div class="right-text">
            Illustrazione / Packaging
        </div>

        <div id="app">
            {{> body }}
        </div>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-113557613-TEST','auto');ga('send','pageview');
        </script>

    </body>
</html>


