@font-face {
  font-family: 'Ambit';
  src: url("../fonts/Ambit-Regular.eot");
  src: url("../fonts/Ambit-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ambit-Regular.woff2") format("woff2"), url("../fonts/Ambit-Regular.woff") format("woff"), url("../fonts/Ambit-Regular.ttf") format("truetype"), url("../fonts/Ambit-Regular.svg#Ambit-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Ambit';
  src: url("../fonts/Ambit-Light.eot");
  src: url("../fonts/Ambit-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ambit-Light.woff2") format("woff2"), url("../fonts/Ambit-Light.woff") format("woff"), url("../fonts/Ambit-Light.ttf") format("truetype"), url("../fonts/Ambit-Light.svg#Ambit-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Ambit';
  src: url("../fonts/Ambit-Bold.eot");
  src: url("../fonts/Ambit-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ambit-Bold.woff2") format("woff2"), url("../fonts/Ambit-Bold.woff") format("woff"), url("../fonts/Ambit-Bold.ttf") format("truetype"), url("../fonts/Ambit-Bold.svg#Ambit-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Ambit';
  src: url("../fonts/Ambit-SemiBold.eot");
  src: url("../fonts/Ambit-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ambit-SemiBold.woff2") format("woff2"), url("../fonts/Ambit-SemiBold.woff") format("woff"), url("../fonts/Ambit-SemiBold.ttf") format("truetype"), url("../fonts/Ambit-SemiBold.svg#Ambit-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'OpenSansCondensedLight', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* CLEARFIX */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?5716dc2e80b68a4a3a69c0fad406f6c5#iefix") format("embedded-opentype"), url("../fonts/icons.woff2?5716dc2e80b68a4a3a69c0fad406f6c5") format("woff2"), url("../fonts/icons.woff?5716dc2e80b68a4a3a69c0fad406f6c5") format("woff"); }
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ancora_intera:before {
  content: "\f101"; }

.icon-behance:before {
  content: "\f102"; }

.icon-chiudi:before {
  content: "\f103"; }

.icon-favicon:before {
  content: "\f104"; }

.icon-hamburger:before {
  content: "\f105"; }

.icon-instagram:before {
  content: "\f106"; }

.icon-logo:before {
  content: "\f107"; }

.icon-rosa:before {
  content: "\f108"; }

body {
  background-color: #fff;
  color: black;
  font-family: 'Ambit';
  font-weight: 300; }

hr {
  background-color: black;
  height: 1px;
  border: 0; }

strong {
  font-weight: 700; }

.page {
  position: relative; }

@media only screen and (min-width: 600px) {
  .hide-on-desktop {
    display: none; } }

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none; } }

header {
  width: calc(100vw - 60px);
  position: fixed;
  padding: 30px;
  top: 0;
  z-index: 10; }
  header .header-desktop {
    display: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    header .header-desktop div {
      width: 33.3%; }
    header .header-desktop .logo {
      order: 0; }
      header .header-desktop .logo i {
        color: black;
        font-size: 60px; }
      @media only screen and (max-width: 600px) {
        header .header-desktop .logo i {
          font-size: 43px; } }
    header .header-desktop .menu {
      display: flex;
      justify-content: center; }
      header .header-desktop .menu ul {
        display: flex; }
        header .header-desktop .menu ul li:first-child {
          margin-right: 30px; }
        header .header-desktop .menu ul a {
          color: black;
          font-size: 30px;
          font-weight: 600; }
      @media only screen and (max-width: 600px) {
        header .header-desktop .menu {
          display: none; } }
    @media only screen and (max-width: 600px) {
      header .header-desktop {
        background-color: white; } }
  header .fristudio {
    font-size: 30px;
    text-align: right;
    font-weight: 600; }
    @media only screen and (max-width: 600px) {
      header .fristudio {
        font-size: 22px;
        order: 1;
        text-align: center; } }
  header .menu-mobile {
    display: none; }
    @media only screen and (max-width: 600px) {
      header .menu-mobile {
        display: block;
        order: 2;
        text-align: right;
        font-size: 30px; }
        header .menu-mobile .icon-chiudi {
          display: none; }
        header .menu-mobile .hamburger {
          color: black; }
          header .menu-mobile .hamburger.open .icon-chiudi {
            display: block; }
          header .menu-mobile .hamburger.open .icon-hamburger {
            display: none; }
        header .menu-mobile .menu-content {
          height: 0;
          overflow: hidden;
          position: fixed;
          top: 110px;
          left: 0;
          width: calc(100vw - 60px);
          background-color: white;
          text-align: left;
          padding: 0 30px;
          transition: all .5s ease-in-out; }
          header .menu-mobile .menu-content li {
            border-bottom: 1px solid black;
            line-height: 50px; }
            header .menu-mobile .menu-content li:first-child {
              border-top: 1px solid black; }
            header .menu-mobile .menu-content li a {
              color: black;
              font-size: 18px;
              text-transform: uppercase; }
          header .menu-mobile .menu-content.open {
            height: 350px;
            border-bottom: 3px solid black; } }
  @media only screen and (max-width: 600px) {
    header {
      background-color: white; } }

footer {
  position: fixed;
  bottom: 0;
  padding: 30px; }
  footer .footer-desktop {
    width: calc(100vw - 60px);
    display: flex;
    justify-content: space-between; }
    footer .footer-desktop a {
      font-size: 30px;
      color: black; }
    @media only screen and (max-width: 600px) {
      footer .footer-desktop {
        display: none; } }

.page.bio {
  top: 30vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  padding-bottom: 100px; }
  @media only screen and (max-width: 600px) {
    .page.bio {
      padding-bottom: 20px; } }
  @media only screen and (max-width: 600px) {
    .page.bio {
      display: block;
      top: 130px;
      width: 85%; }
      .page.bio > div {
        width: 100%; } }
.page .img-mobile {
  width: 100%; }
  .page .img-mobile img {
    width: 100%; }
.page .bio__content {
  font-size: 24px;
  padding-right: 10%;
  line-height: 30px; }
  @media only screen and (max-width: 600px) {
    .page .bio__content {
      padding-right: 0;
      font-size: 18px;
      line-height: 20px; } }
.page .bio__services {
  font-size: 20px; }
  .page .bio__services h2 {
    margin-bottom: 20px; }
  .page .bio__services img {
    width: 300px; }
.page .bio-dot-divider {
  margin-top: 50px;
  margin-bottom: 20px; }
.page .bio-email {
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600; }
  @media only screen and (max-width: 600px) {
    .page .bio-email {
      margin-bottom: 20px; } }
.page .bio-picture-info {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 40px; }

/*# sourceMappingURL=bio.css.map */
