---
home: aboutus
key: aboutus
---

<div class="page about-us">
	<div class="container-viewport-centered">
		<div class="container-viewport-centered__wrapper">
			<div class="container-viewport-centered__wrapper__left">
				<i class="icon icon-rosa"></i>
				<img src="images/simone-montagnani-grafico.jpg" />
				<span class="text">info@fristudio.it</span>
				<p>
					<a href="https://www.behance.net/simone-montagnani" class="icon_container">
						<i class="icon icon-behance"></i>
					</a>
					<a href="https://www.instagram.com/fristudio_firenze/" class="icon_container">
						<i class="icon con-instagram"></i>
					</a>
				</p>
			</div>
			<div class="container-viewport-centered__wrapper__right">
				<div class="about-us__content">
				{{{this.body}}}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/aboutus.min.js" async deferred></script>
