---
home: contact
key: contact
---

<div class="page {{this.template}}">
	<div class="container-viewport-centered">
		<div class="container-viewport-centered__wrapper">
			<div class="contatti__container">
				<div class="big-text">
					{{this.body}}
					<p>info@fristudio.it</p>
					<p>+39 328.0680744</p>
					<p>Instagram: fristudio_firenze</p>
					<p>Office: Via Campo d&rsquo;Arrigo 40r,</p>
					<p>50131 Firenze, Italia</p>
					<a href="https://www.behance.net/simone-montagnani" class="icon_container">
						<i class="icon icon-behance"></i>
					</a>
					<a href="https://www.instagram.com/fristudio_firenze/" class="icon_container">
						<i class="icon icon-instagram"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="js/contact.min.js" async deferred></script>
