---
home: contact
key: contact
---

<div class="page contact">
	<div class="wrapper">
		<div class="info">
			<div class="info-item">
				<p class="hide-on-desktop description">Scrivi a:</p>
				<a class="semibold" href="mailto: info@fristudio.it"><span class="hide-on-desktop">→</span> info@fristudio.it</a>
			</div>
			<div class="info-item">
				<p class="semibold"><span class="hide-on-desktop">→</span><a href="callto:393280680744"> + 39 328.0680744</a></p>
			</div>
			<div class="info-item">
				<p class="hide-on-desktop description">Prendiamo un caffé</p>
				<p class="semibold"><span class="hide-on-desktop">→</span>Ufficio: Via Campo d'Arrigo 40r,<br>50131 Firenze (IT)</p>
			</div>
		</div>
		<div class="social">
			<h2 class="semibold">Social</h2>
			<hr class="hide-on-desktop">
			<p class="hide-on-desktop description">Su IG troverai progetti recenti ed aggiornamenti continui</p>
			<div class="social__container">
				<a href="https://www.instagram.com/fristudio_grafico/" class="icon_container semibold">
					<span class="hide-on-desktop">→</span> Instagram
				</a>
				<hr class="hide-on-desktop">
				<a href="https://www.behance.net/simone-montagnani" class="icon_container semibold">
					<span class="hide-on-desktop">→</span> Behance
				</a>
				<hr class="hide-on-desktop">
			</div>
		</div>
	</div>
</div>



<script src="js/contact.min.js" async deferred></script>
