---
home: contact
key: contact
---

<div class="page contact">
	<div class="wrapper">
		<div class="info">
			<div class="info-item">
				<p class="hide-on-desktop description">Per maggiori informazioni, scrivici</p>
				<a href="mailto: info@fristudio.it"><span class="hide-on-desktop">→</span> info@fristudio.it</a>
			</div>
			<div class="info-item">
				<p class="hide-on-desktop description">Facciamo una chiacchierata</p>
				<p><span class="hide-on-desktop">→</span> + 39 328.0680744</p>
			</div>
			<div class="info-item">
				<p class="hide-on-desktop description">Prendiamoci un caffé</p>
				<p><span class="hide-on-desktop">→</span> Ufficio: Via Campo d'Arrigo 40r,<br>50131 Firenze (IT)</p>
			</div>
		</div>
		<div class="social">
			<h2>Social</h2>
			<hr class="hide-on-desktop">
			<br />
			<p class="hide-on-desktop description">Su IG troverai progetti recenti ed aggiornamenti continui</p>
			<div class="social__container">
				<a href="https://www.instagram.com/fristudio_firenze/" class="icon_container">
					<span class="hide-on-desktop">→</span> Instagram
				</a>
				<hr class="hide-on-desktop">
				<a href="https://www.behance.net/simone-montagnani" class="icon_container">
					<span class="hide-on-desktop">→</span> Behance
				</a>
				<hr class="hide-on-desktop">
			</div>
		</div>
	</div>
</div>



<script src="js/contact.min.js" async deferred></script>
