---
home: active
key: index
---

<div class="page {{this.title}}">
	<ul class="projects">
		{{#each this.resources.projects}}
		<li>
			<a href="{{this.slug}}.html">
				<img src="images/{{getcover this.images}}.jpg" />
				<h2>{{this.title}}</h2>
			</a>
		</li>
		{{/each}}
	</ul>
</div>

<script src="js/index.min.js" async deferred></script>
