---
home: active
key: index
---

<div class="page {{this.title}}">
	<div class="main-gallery">
		<div class="main-gallery__container">
			<i class="icon icon-logo"></i>
			<div class="main-gallery__text">
				<p>frist<br>studio_</p>
				<div class="text-animation">
					<div class="text-animation__container">
						<p>firenze</p>
						<p>ricerca</p>
						<p>immagina</p>
						<p>progetta</p>
						<p>racconta</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/index.min.js" async deferred></script>
